body {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    text-decoration: none;
    list-style: none;
    color: #6a6a6a;
    /* background: linear-gradient(to right, rgba(2, 0, 36, 1) 0%, rgba(26, 161, 155, 1) 0%, rgba(0, 212, 255, 1) 100%); */
}

section {
    display: block;
    width: 350px;
    height: 400px;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -1px -1px 6px rgba(255, 255, 255, 0.9), 4px 4px 9px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, rgba(2, 0, 36, 1) 0%, rgba(26, 161, 155, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

#item {
    /* display: flex; */
    align-items: center;
    width: 130px;
    height: 30px;
    font-size: 1rem;
    margin-left: 10px;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    background: transparent;
    border-bottom: 2px solid green;
    transition: 0.2s;
    color: #544949
}

#item:focus {
    border-bottom: 2px solid greenyellow;
    outline: none;
    font-size: 1.3rem;
}

#item::placeholder {
    color: #544949;
}

button {
    margin-left: 13px;
    border: none;
    width: 80px;
    height: 30px;
    outline: none;
    border-radius: 3px;
    color: #6a6a6a;
    font-size: 15px;
    box-shadow: -1px -1px 6px rgba(255, 255, 255, 0.9), 4px 4px 9px rgba(0, 0, 0, 0.3);
}

.todo {
    display: flex;
    justify-content: space-between;
}

ul {
    /* list-style: none; */
    padding-bottom: 30px;
}

.li {
    color: #544949;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
}


/* .liBtn {
    margin-left: 50px;
    /* float: right; 
} */